@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
$background-color : #0b162C;
$primary-color : #1c2942;
$secondary-color : #3b556d;
$other-color : #5fc2ba;
$text-color : #ffffff;

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: black;
}


@keyframes spinner {
	0% {
		transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
	}
	50% {
		transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
	}
	100% {
		transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
	}
}
.spinner.hidden {
    display: none;
  }
  .header.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  .header {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  

.spinner {
	width: 70.4px;
	height: 70.4px;
	animation: spinner 1.6s infinite ease;
	transform-style: preserve-3d;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:$background-color;
	>div {
		background-color: $background-color;
		height: 100%;
		position: absolute;
		width: 100%;
		border: 3.5px solid $text-color;
	}
	div {
		&:nth-of-type(1) {
			transform: translateZ(-35.2px) rotateY(180deg);
		}
		&:nth-of-type(2) {
			transform: rotateY(-270deg) translateX(50%);
			transform-origin: top right;
		}
		&:nth-of-type(3) {
			transform: rotateY(270deg) translateX(-50%);
			transform-origin: center left;
		}
		&:nth-of-type(4) {
			transform: rotateX(90deg) translateY(-50%);
			transform-origin: top center;
		}
		&:nth-of-type(5) {
			transform: rotateX(-90deg) translateY(50%);
			transform-origin: bottom center;
		}
		&:nth-of-type(6) {
			transform: translateZ(35.2px);
		}
	}
}

.header {
    background-color: $background-color;
    color: $text-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .content {
            a {
                text-decoration: none;
                color: inherit;
            }
            .p_left {
                align-self: flex-start;
                margin: 0;
            }
            .square {
                border: 4px solid;
                padding: 5em;
                font-size: 1.4em;
                h3 {
                    letter-spacing: 11px;
                    color: #5fc2ba;
                    transition: color .3s ease-in-out, border-bottom .3s ease-in-out;
                }
                h3:hover {
                    border: inset 237px 0 0 0 #ffffff;
                    color: #ffffff;

                }
            }
        }
        .animated-mouse {
            padding-top: 5%;
            .mouse {
                width: 60px;
                height: 100px;
                border: 4px solid #ffffff;
                border-radius: 60px;
                position: relative;
            .scroll-mouse {
                position: absolute;
                width: .8em;
                height: .8em;
                background-color: #ffffff;
                left: 50%;
                top: 15%;
                border-radius: 50%;
                transform: translate(-50%, 0);
                animation: mouse 2s ease-in-out infinite;
            }
            }

            @keyframes mouse {
                0% {
                    transform: translate(-50%, 0);
                    opacity: 0;
                }

                20%, 70% {
                    opacity: 1;
                }

                90%, 100% {
                    transform: translate(-50%, 400%);
                    opacity: 0;
                }
            }
         
            }
}