@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
$background-color : #0b162C;
$primary-color : #1c2942;
$secondary-color : #3b556d;
$other-color : #5fc2ba;
$text-color : #ffffff;

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: $background-color;
    color: $text-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        .content {
            .p_left {
                align-self: flex-start;
                margin: 0;
            }
            .square {
                border: 3px solid;
                padding: 5em;
                font-size: 1.4em;
                h3 {
                    letter-spacing: 12px;
                    color: #5fc2ba;
                }
            }
        }
        
}